.imageTextBlock {
	position: relative;
	background-color: #fff;
	color: #333;
}

.productImage {
	position: absolute;
	top: -25%;
	right: -8%;
	width: 200px;
	height: 200px;
}

.imageTextBlockWrapper {
	padding: 112px 32px 32px 32px;
}

.imageTextBlockTitle {
	margin: 0 0 16px 0;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21.78px;
	color: #333;
}

.imageTextBlockDescription {
	margin: 0 0 24px 0;
	font-style: normal;
	font-weight: normal;
	font-size: 14.4px;
	line-height: 17.78px;
}

.imageTextBlockLink {
	color: #F65928;
}

.buttonIcon {
    width: 8px;
    height: 8px;
    margin-left: 8px;
}

@media (max-width: 1124px) {
	.imageTextBlock {
		margin-bottom: 3rem;
	}

	.productImage {
		width: 250px;
		height: 250px;
	}
}

@media (max-width: 732px) {
	
	.imageTextBlockWrapper {
		padding: 112px 25% 32px 32px;
	}
}

@media (max-width: 668px) {

	.imageTextBlock {
		margin-bottom: 5rem;
	}
	
	.imageTextBlockWrapper {
		padding: 112px 25% 32px 32px;
	}

	.imageTextBlockWrapper {
		padding: 180px 25% 32px 32px;
	}
}

@media (max-width: 472px) {
	.productImage {
		top: -25%;
		width: 200px;
		height: 200px;
	}

	.imageTextBlock {
		margin-bottom: 5rem;
	}

	.imageTextBlockTitle {
		font-size: 14.4px;
	}

	.imageTextBlockDescription {
		font-size: 12px;
	}
	
	.imageTextBlockWrapper {
		padding: 112px 25% 32px 32px;
	}

	.imageTextBlockWrapper {
		padding: 120px 25% 32px 32px;
	}
}