.button {
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 12px 24px;
  }

.buttonText {
    color: #fff;
    font-size: 1rem;
    line-height: 17px;
    font-family: Inter, sans-serif;
    font-weight: 400;
}

.buttonIcon {
    width: 8px;
    height: 8px;
    color: #fff;
    margin-left: 8px;
}

.primary {
    background: #2885F6;
}
  
.secondary {
    background: #767D84;
}